
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: #1d1d1dcb;
    height: 80px;
    width: 100%;
}

.enlace {
    position: absolute;
    padding: 20px 50px;
}

.logo {
    height: 40px;
}

nav ul {
    float: right;
    padding-right: 15px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-family: Helvetica;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active, li a:hover {
    background-color: #a0a0a0;
    transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

@media (max-width: 1000px) {
    .enlace {
        padding-left: 25px;
    }

    nav ul li a {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #1d1d1dcb;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover, li a.active {
    background: #a4cbffcb;
    color: #1d1d1dcb;
    }


    #check:checked ~ ul {
        left: 0;
        height: 885px;
        position: absolute;
    }
}
